<div class="upload-container">
  <div class="upload-card">
    <h2 class="upload-title">Upload Image</h2>
    <form (submit)="onSubmit()" class="upload-form">
      <div class="form-group">
        <input type="file" class="form-control" (change)="onFileSelected($event)" />
      </div>
      <div class="button-group">
        <button class="btn-extract" type="submit">Extract</button>
        <a routerLink="/history" class="btn-history">View History</a>
      </div>
    </form>

    <div *ngIf="isLoading" class="loader">
      <div class="spinner"></div>
      <div class="progress-bar">
        <div class="progress-bar-fill"></div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && uploadedImage" class="result-container">
    <h2 class="result-title">Uploaded Image and Extracted Results</h2>
    <div class="result-cards">
      <div class="result-card">
        <h3 class="card-title">Uploaded Image</h3>
        <div class="image-container">
          <img [src]="'data:' + uploadedImage.contentType + ';base64,' + uploadedImage.imageBase64" alt="Uploaded Image" />
        </div>
      </div>
      <div class="result-card">
        <h3 class="card-title">
          Extracted Text
          <button (click)="copyText()" class="btn-copy">Copy</button>
        </h3>
        <hr>
        <p class="extracted-text">{{ uploadedImage.extractedText }}</p>
        <div class="bold-words">
          <span *ngFor="let word of uploadedImage.boldWords" class="bold-word">{{ word }}</span>
        </div>
      </div>
    </div>
  </div>
</div>